<div align="center">
    <div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Authenticate via one of the social networks to get started.</p>
</div>
</div>

<div align="center">
    <ul>
       <li><%= link_to 'Sign in with Google', '/auth/google', class: "btn btn-danger white" %>
           <%= link_to 'Sign in with Twitter', '/auth/twitter', class: "btn btn-primary t-blue white" %>
           <%= link_to 'Sign in with Facebook', '/auth/facebook', class: "btn btn-default white" %></li>
    </ul>
</div>