<div align="center">
    <div class="well">
        <h2>Terms of Service</h2>
    </div>
</div>

<div class="container">
    <h2 class="text-center">
        Google Apps (Free) Agreement
      <h2>
        <hr />
    </div>
    <div id="article">
      <p>
      Go to the <a href="http://www.google.com/apps/intl/en/terms/premier_terms.html" target="_blank">Google Apps for Business Terms of
        Service</a><br>
      Go to the <a href="http://www.google.com/apps/intl/en/terms/education_terms.html" target="_blank">Google Apps for Education Terms of
        Service</a>
      </p>
      <p>
      This Google Apps (Free) Agreement (the "<span class="c1">Agreement</span>") is entered
      into by and between Google Inc., a Delaware corporation, with offices at 1600
      Amphitheatre Parkway, Mountain View, California 94043 ("<span class="c1">Google</span>")
      and the entity agreeing to the terms herein ("<span class="c1">Customer</span>"). This
      Agreement governs Customer's access to and use of the Services and will be effective as
      of the Effective Date. This Agreement is effective as of the date Customer clicks the "I
      Accept" button below (the "<span class="c1">Effective Date</span>"). If you are accepting
      on behalf of Customer, you represent and warrant that: (i) you have full legal authority
      to bind your employer, or the applicable entity, to these terms and conditions; (ii) you
      have read and understand this Agreement; and (iii) you agree, on behalf of the party that
      you represent, to this Agreement. If you do not have the legal authority to bind
      Customer, please do not click the "I Accept" button below. This Agreement governs
      Customer's access to and use of the Services.
      </p>
      <p>1. <strong class="c2">Services</strong>.<br>
      <ul>
        <li>1.1 <span class="c1">Facilities and Data Transfer</span>.&nbsp;&nbsp;All
        facilities used to store and process Customer Data will adhere to reasonable security
        standards no less protective than the security standards at facilities where Google
        stores and processes its own information of a similar type. Google has implemented at
        least industry standard systems and procedures to ensure the security and
        confidentiality of Customer Data, protect against anticipated threats or hazards to
        the security or integrity of Customer Data, and protect against unauthorized access
        to or use of Customer Data. As part of providing the Services, Google may transfer,
        store and process Customer Data in the United States or any other country in which
        Google or its agents maintain facilities. By using the Services, Customer consents to
        this transfer, processing and storage of Customer Data.
        </li>
      </ul>
      <ul>
        <li>1.2 <span class="c1">Modifications</span>.&nbsp;&nbsp;
        <ul>
          <li>a. <span class="c1">To the Services</span>.&nbsp;&nbsp;Google shall have the
          right to change, suspend or discontinue any aspect of the Service at any time,
          without notice. If Google makes a material change to the Services, Google will
          inform Customer, provided that Customer has subscribed with Google to be informed
          about such change.
          </li>
        </ul>
        <ul>
          <li>
          <span class="c1">To this Agreement</span>.&nbsp;&nbsp;Google reserves the right
          to change or modify any of the terms and conditions contained in this Agreement
          or any policy governing the Service, at any time, by posting the new agreement
          at <a href=
            "http://www.google.com/apps/intl/en/terms/standard_terms.html" target="_blank">http://www.google.com/apps/intl/en/terms/standard_terms.html</a>&nbsp;or
          such URL as Google may provide. Customer is responsible for regularly reviewing
          any updates to this Agreement. Any changes or modifications to this Agreement
          will become binding (i) by Customer's online acceptance of updated terms, or
          (ii) after Customer's continued use of the Service after such terms have been
          updated by Google.
          </li>
        </ul>
        </li>
      </ul>
      <ul>
        <li>1.3 <span class="c1">Customer Domain Name Ownership</span>.&nbsp;&nbsp;Prior to
        providing the Services Google may verify that Customer owns or controls the Customer
        Domain Names. If Customer does not own or control the Customer Domain Names, then
        Google will have no obligation to provide Customer with the Services.
        </li>
      </ul>
      <ul>
        <li>1.4 <span class="c1">Ads</span>.&nbsp;&nbsp;Customer agrees that Google may serve
        Ads in connection with the Service.
        </li>
      </ul>
      </p>
      <p>2. <strong class="c2">Customer Obligations</strong>.<br>
      <ul>
        <li>2.1 <span class="c1">Compliance</span>.&nbsp;&nbsp;Customer will use the Services
        in accordance with the Acceptable Use Policy. Google may make new applications,
        features or functionality for the Services available from time to time, the use of
        which may be contingent upon Customer's agreement to additional terms. In addition,
        Google will make other Non-Google Apps Products (beyond the Services) available to
        Customer and its End Users in accordance with the Non-Google Apps Product Terms and
        the applicable product-specific Google terms of service. If Customer does not desire
        to enable any of the Non-Google Apps Products, Customer can enable or disable them at
        any time through the Admin Console.
        </li>
      </ul>
      <ul>
        <li>2.2 <span class="c1">Customer Administration of the
          Services</span>.&nbsp;&nbsp;Customer may specify one or more Administrators through
        the Admin Console who will have the rights to access Admin Account(s) and to
        administer the End User Accounts. Customer is responsible for: (a) maintaining the
        confidentiality of the password and Admin Account(s); (b) designating those
        individuals who are authorized to access the Admin Account(s); and (c) ensuring that
        all activities that occur in connection with the Admin Account(s) comply with the
        Agreement. Customer agrees that Google's responsibilities do not extend to the
        internal management or administration of the Services for Customer and that Google is
        merely a data-processor. Customer agrees that End Users may add or purchase
        third-party applications (subject to separate terms and conditions) from the Google
        Apps Marketplace for use in their specific End User Accounts.
        </li>
      </ul>
      <ul>
        <li>2.3 <span class="c1">Aliases</span>.&nbsp;&nbsp;Customer is solely responsible
        for monitoring, responding to, and otherwise processing emails sent to the "abuse"
        and "postmaster" aliases for Customer Domain Names but Google may monitor emails sent
        to these aliases for Customer Domain Names to allow Google to identify Services
        abuse.
        </li>
      </ul>
      <ul>
        <li>2.4 <span class="c1">End User Consent</span>.&nbsp;&nbsp;Customer's
        Administrators may have the ability to access, monitor, use, or disclose data
        available to End Users within the End User Accounts. Customer will obtain and
        maintain all required consents from End Users to allow: (i) Customer's access,
        monitoring, use and disclosure of this data and Google providing Customer with the
        ability to do so and (ii) Google to provide the Services.
        </li>
      </ul>
      <ul>
        <li>2.5 <span class="c1">Unauthorized Use</span>.&nbsp;&nbsp;Customer will use
        commercially reasonable efforts to prevent unauthorized use of the Services and to
        terminate any unauthorized use. Customer will promptly notify Google of any
        unauthorized use of, or access to, the Services of which it becomes aware.
        </li>
      </ul>
      <ul>
        <li>2.6 <span class="c1">Restrictions on Use</span>.&nbsp;&nbsp;Unless Google
        specifically agrees in writing, Customer will not, and will use commercially
        reasonable efforts to make sure a third party does not: (a) sell, resell, lease, or
        the functional equivalent, the Services to a third party (unless expressly authorized
        in this Agreement); (b) attempt to reverse engineer the Services or any component;
        (c) attempt to create a substitute or similar service through use of, or access to,
        the Services; (d) use the Services for High Risk Activities; or (e) use the Services
        to store or transfer any Customer Data that is controlled for export under Export
        Control Laws. Customer is solely responsible for any applicable compliance with
        HIPAA.
        </li>
      </ul>
      <ul>
        <li>2.7 <span class="c1">Third Party Requests</span>.&nbsp;&nbsp;Customer is
        responsible for responding to Third Party Requests. Google will, to the extent
        allowed by law and by the terms of the Third Party Request: (a) promptly notify
        Customer of its receipt of a Third Party Request; (b) comply with Customer's
        reasonable requests regarding its efforts to oppose a Third Party Request; and (c)
        provide Customer with the information or tools required for Customer to respond to
        the Third Party Request. Customer will first seek to obtain the information required
        to respond to the Third Party Request on its own, and will contact Google only if it
        cannot reasonably obtain such information.
        </li>
      </ul>
      <ul>
        <li>2.8 <span class="c1">Usage Policies and Limits</span>.&nbsp;&nbsp;Customer is
        permitted 1 End User Account. Customer shall comply with any additional usage
        policies and limits concerning use of the Service as requested by Google from time to
        time.
        </li>
      </ul>
      <ul>
        <li>2.9 <span class="c1">End Users</span>.&nbsp;&nbsp;Customer agrees that End Users
        will comply with the Acceptable Use Policy and the End User Terms.
        </li>
      </ul>
      </li>
      <p>3. <strong class="c2">Fees</strong>. &nbsp;<br>
      The Service is provided at no charge to Customer provided that Customer agrees that
      Google may (a) add optional services to Customer or its End Users for a fee or (b)
      offer a premium version of the Service for a fee.
      </p>
      <p>4. <strong class="c2">Technical Support Services</strong>. &nbsp;<br>
      Customer is responsible for responding to any questions and complaints by End Users or
      other third parties relating to Customer or its End Users' use of the Services. Google
      will make available the Help Center to Customer and its End Users.
      </li>
      <p>5. <strong class="c2">Suspension</strong>.<br>
      <ul>
        <li>5.1 <span class="c1">Of End User Accounts by Google</span>.&nbsp;&nbsp;If Google
        becomes aware of an End User's violation of the Agreement, then Google may
        specifically request that Customer Suspend the applicable End User Account. If
        Customer fails to comply with Google's request to Suspend an End User Account, then
        Google may do so. The duration of any Suspension by Google will be until the
        applicable End User has cured the breach which caused the Suspension.
        </li>
      </ul>
      <ul>
        <li>5.2 <span class="c1">Emergency Security Issues</span>.&nbsp;&nbsp;Notwithstanding
        the foregoing, if there is an Emergency Security Issue, then Google may automatically
        Suspend the offending use. Suspension will be to the minimum extent and of the
        minimum duration required to prevent or terminate the Emergency Security Issue.
        </li>
      </ul>
      </li>
      <p>6. <strong class="c2">Confidential Information</strong>.<br>
      <ul>
        <li>6.1 <span class="c1">Obligations</span>.&nbsp;&nbsp;Each party will: (a) protect
        the other party's Confidential Information with the same standard of care it uses to
        protect its own Confidential Information; and (b) not disclose the Confidential
        Information, except to Affiliates, employees and agents who need to know it and who
        have agreed in writing to keep it confidential. Each party (and any Affiliates,
        employees and agents to whom it has disclosed Confidential Information) may use
        Confidential Information only to exercise rights and fulfill its obligations under
        this Agreement, while using reasonable care to protect it. Each party is responsible
        for any actions of its Affiliates, employees and agents in violation of this Section.
        </li>
      </ul>
      <ul>
        <li>6.2 <span class="c1">Exceptions</span>.&nbsp;&nbsp;Confidential Information does
        not include information that: (a) the recipient of the Confidential Information
        already knew; (b) becomes public through no fault of the recipient; (c) was
        independently developed by the recipient; or (d) was rightfully given to the
        recipient by another party.
        </li>
      </ul>
      <ul>
        <li>6.3 <span class="c1">Required Disclosure</span>.&nbsp;&nbsp;Each party may
        disclose the other party's Confidential Information when required by law but only
        after it, if legally permissible: (a) uses commercially reasonable efforts to notify
        the other party; and (b) gives the other party the chance to challenge the
        disclosure.
        </li>
      </ul>
      </p>
      <p>7. <strong class="c2">Intellectual Property Rights; Brand Features</strong>.<br>
      <ul>
        <li>7.1 <span class="c1">Intellectual Property Rights</span>.&nbsp;&nbsp;Except as
        expressly set forth herein, this Agreement does not grant either party any rights,
        implied or otherwise, to the other's content or any of the other's intellectual
        property. As between the parties, Customer owns all Intellectual Property Rights in
        Customer Data, and Google owns all Intellectual Property Rights in the Services.
        </li>
      </ul>
      <ul>
        <li>7.2 <span class="c1">Display of Brand Features</span>.&nbsp;&nbsp;Google may
        display those Customer Brand Features authorized by Customer (such authorization is
        provided by Customer uploading its Brand Features into the Services) within
        designated areas of the Service Pages. Customer may specify the nature of this use
        using the Admin Console. Google may also display Google Brand Features on the Service
        Pages to indicate that the Services are provided by Google. Neither party may display
        or use the other party's Brand Features beyond what is allowed in this Agreement
        without the other party's prior written consent.
        </li>
      </ul>
      <ul>
        <li>7.3 <span class="c1">Brand Features Limitation</span>.&nbsp;&nbsp;Any use of a
        party's Brand Features will inure to the benefit of the party holding Intellectual
        Property Rights in those Brand Features. A party may revoke the other party's right
        to use its Brand Features pursuant to this Agreement with written notice to the other
        and a reasonable period to stop the use.
        </li>
      </ul>
      </li>
      <p>8. <strong class="c2">Publicity</strong>. &nbsp;<br>
      Customer agrees that Google may include Customer's name or Brand Features in a list of
      Google customers, online or in promotional materials. Customer also agrees that Google
      may verbally reference Customer as a customer of the Google products or services that
      are the subject of this Agreement. This section is subject to Section 7.3 (Brand
      Features Limitation).
      </p>
      <p>9. <strong class="c2">Representations, Warranties and Disclaimers</strong>.<br>
      <ul>
        <li>9.1 <span class="c1">Representations and Warranties</span>.&nbsp;&nbsp;Each party
        represents that it has full power and authority to enter into the Agreement. Each
        party warrants that it will comply with all laws and regulations applicable to its
        provision, or use, of the Services, as applicable (including applicable security
        breach notification law).
        </li>
      </ul>
      <ul>
        <li>9.2 <span class="c1">Disclaimers</span>.&nbsp;&nbsp;TO THE FULLEST EXTENT
        PERMITTED BY APPLICABLE LAW, EXCEPT AS EXPRESSLY PROVIDED FOR HEREIN, NEITHER PARTY
        MAKES ANY OTHER WARRANTY OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR
        OTHERWISE, INCLUDING WITHOUT LIMITATION WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
        PARTICULAR USE AND NONINFRINGEMENT. GOOGLE MAKES NO REPRESENTATIONS ABOUT ANY CONTENT
        OR INFORMATION MADE ACCESSIBLE BY OR THROUGH THE SERVICES. CUSTOMER ACKNOWLEDGES THAT
        THE SERVICES ARE NOT A TELEPHONY SERVICE AND THAT THE SERVICES ARE NOT CAPABLE OF
        PLACING OR RECEIVING ANY CALLS, INCLUDING EMERGENCY SERVICES CALLS, OVER PUBLICLY
        SWITCHED TELEPHONE NETWORKS.
        </li>
      </ul>
      </p>
      <p>10. <strong class="c2">Termination</strong>.<br>
      <ul>
        <li>10.1 <span class="c1">By Customer</span>.&nbsp;&nbsp;Customer may discontinue use
        of the Service at any time.
        </li>
      </ul>
      <ul>
        <li>10.2 <span class="c1">By Google</span>.&nbsp;&nbsp;Customer agrees that Google
        may at any time and for any reason terminate this Agreement and/or terminate the
        provision of all or any portion of the Service. Notwithstanding the foregoing, Google
        will provide at least thirty (30) days notice to Customer prior to terminating or
        suspending the Service; provided that the Service may be terminated immediately if
        (i) Customer has breached this Agreement or (ii) Google reasonably determines that it
        is commercially impractical to continue providing the Service in light of applicable
        laws.
        </li>
      </ul>
      <ul>
        <li>10.3 <span class="c1">Effects of Termination</span>.&nbsp;&nbsp;If this Agreement
        terminates, then: (i) the rights granted by one party to the other will cease
        immediately (except as set forth in this Section); (ii) Google will provide Customer
        access to, and the ability to export, the Customer Data for a commercially reasonable
        period of time; and (iii) after a commercially reasonable period of time, Google will
        delete Customer Data by removing pointers to it on Google's active servers and
        overwriting it over time.
        </li>
      </ul>
      </p>
      <p>11. <strong class="c2">Indemnification</strong>. &nbsp;<br>
      Customer will indemnify, defend, and hold harmless Google from and against all
      liabilities, damages, and costs (including settlement costs and reasonable attorneys'
      fees) arising out of a third party claim: (i) regarding Customer Data or Customer
      Domain Names; (ii) that Customer Brand Features infringe or misappropriate any patent,
      copyright, trade secret or trademark of a third party; or (iii) regarding Customer's
      use of the Services in violation of the Acceptable Use Policy. The party seeking
      indemnification will promptly notify the other party of the claim and cooperate with
      the other party in defending the claim. The indemnifying party has full control and
      authority over the defense, except that: (a) any settlement requiring the party seeking
      indemnification to admit liability or to pay any money will require that party's prior
      written consent, such consent not to be unreasonably withheld or delayed; and (b) the
      other party may join in the defense with its own counsel at its own expense.
      </p>
      <p>12. <strong class="c2">Limitation of Liability</strong>.<br>
      <ul>
        <li>12.1 <span class="c1">Limitation on Indirect Liability</span>.&nbsp;&nbsp;NEITHER
        PARTY WILL BE LIABLE UNDER THIS AGREEMENT FOR LOST REVENUES OR INDIRECT, SPECIAL,
        INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES, EVEN IF THE PARTY KNEW OR
        SHOULD HAVE KNOWN THAT SUCH DAMAGES WERE POSSIBLE AND EVEN IF DIRECT DAMAGES DO NOT
        SATISFY A REMEDY.
        </li>
      </ul>
      <ul>
        <li>12.2 <span class="c1">Limitation on Amount of
          Liability</span>.&nbsp;&nbsp;NEITHER PARTY MAY BE HELD LIABLE UNDER THIS AGREEMENT
        FOR MORE THAN ONE THOUSAND DOLLARS ($1000 USD).
        </li>
      </ul>
      <ul>
        <li>12.3 <span class="c1">Exceptions to Limitations</span>.&nbsp;&nbsp;These
        limitations of liability apply to the fullest extent permitted by applicable law but
        do not apply to breaches of confidentiality obligations, violations of a party's
        Intellectual Property Rights by the other party, or indemnification obligations.
        </li>
      </ul>
      </p>
      <p>13. <strong class="c2">Miscellaneous</strong>.<br>
      <ul>
        <li>13.1 <span class="c1">Notices</span>.&nbsp;&nbsp;Unless specified otherwise
        herein: (a) all notices must be in writing and addressed to the attention of the
        other party's legal department and primary point of contact; and (b) notice will be
        deemed given: (i) when verified by written receipt if sent by personal courier,
        overnight courier, or when received if sent by mail without verification of receipt;
        or (ii) when verified by automated receipt or electronic logs if sent by facsimile or
        email.
        </li>
      </ul>
      <ul>
        <li>13.2 <span class="c1">Assignment</span>.&nbsp;&nbsp;Neither party may assign or
        transfer any part of this Agreement without the written consent of the other party,
        except to an Affiliate, but only if: (a) the assignee agrees in writing to be bound
        by the terms of this Agreement; and (b) the assigning party remains liable for
        obligations incurred under the Agreement prior to the assignment. Any other attempt
        to transfer or assign is void.
        </li>
      </ul>
      <ul>
        <li>13.3 <span class="c1">Change of Control</span>.&nbsp;&nbsp;Upon a change of
        control (for example, through a stock purchase or sale, merger, or other form of
        corporate transaction): (a) the party experiencing the change of control will provide
        written notice to the other party within thirty days after the change of control; and
        (b) the other party may immediately terminate this Agreement any time between the
        change of control and thirty days after it receives the written notice in subsection
        (a).
        </li>
      </ul>
      <ul>
        <li>13.4 <span class="c1">Force Majeure</span>.&nbsp;&nbsp;Neither party will be
        liable for inadequate performance to the extent caused by a condition (for example,
        natural disaster, act of war or terrorism, riot, labor condition, governmental
        action, and Internet disturbance) that was beyond the party's reasonable control.
        </li>
      </ul>
      <ul>
        <li>13.5 <span class="c1">No Waiver</span>.&nbsp;&nbsp;Failure to enforce any
        provision of this Agreement will not constitute a waiver.
        </li>
      </ul>
      <ul>
        <li>13.6 <span class="c1">Severability</span>.&nbsp;&nbsp;If any provision of this
        Agreement is found unenforceable, the balance of the Agreement will remain in full
        force and effect.
        </li>
      </ul>
      <ul>
        <li>13.7 <span class="c1">No Agency</span>.&nbsp;&nbsp;The parties are independent
        contractors, and this Agreement does not create an agency, partnership or joint
        venture.
        </li>
      </ul>
      <ul>
        <li>13.8 <span class="c1">No Third-Party Beneficiaries</span>.&nbsp;&nbsp;There are
        no third-party beneficiaries to this Agreement.
        </li>
      </ul>
      <ul>
        <li>13.9 <span class="c1">Equitable Relief</span>.&nbsp;&nbsp;Nothing in this
        Agreement will limit either party's ability to seek equitable relief.
        </li>
      </ul>
      <ul>
        <li>13.10 <span class="c1">Governing Law</span>.&nbsp;&nbsp;This Agreement is
        governed by California law, excluding that state's choice of law rules. FOR ANY
        DISPUTE ARISING OUT OF OR RELATING TO THIS AGREEMENT, THE PARTIES CONSENT TO PERSONAL
        JURISDICTION IN, AND THE EXCLUSIVE VENUE OF, THE COURTS IN SANTA CLARA COUNTY,
        CALIFORNIA.
        </li>
      </ul>
      <ul>
        <li>13.11 <span class="c1">Amendments</span>.&nbsp;&nbsp;Any amendment must be in
        writing and expressly state that it is amending this Agreement.
        </li>
      </ul>
      <ul>
        <li>13.12 <span class="c1">Survival</span>.&nbsp;&nbsp;The following sections will
        survive expiration or termination of this Agreement: Sections 6 (Confidentiality), 7
        (Intellectual Property; Brand Features), 9 (Representations, Warranties and
        Disclaimers), 10 (Termination), 11 (Indemnification), 12 (Limitation of Liability),
        and 13 (Miscellaneous).
        </li>
      </ul>
      <ul>
        <li>13.13 <span class="c1">Entire Agreement</span>.&nbsp;&nbsp;This Agreement, and
        all documents referenced herein, is the parties' entire agreement relating to its
        subject and supersedes any prior or contemporaneous agreements on that subject. The
        terms located at a URL and referenced in this Agreement are hereby incorporated by
        this reference.
        </li>
      </ul>
      <ul>
        <li>13.14 <span class="c1">Interpretation of Conflicting Terms</span>.&nbsp;&nbsp;If
        there is a conflict between the documents that make up this Agreement, the documents
        will control in the following order: the Agreement, and the terms located at any
        URL.<br>
        </li>
      </ul>
      </p>
      <p>14. <strong class="c2">Definitions</strong>.<br>
      <ul>
        <li>"<span class="c1">Acceptable Use Policy</span>".&nbsp;&nbsp;means the acceptable
        use policy for the Services available at&nbsp;<a href=
          "http://www.google.com/apps/intl/en/terms/standard_terms.html" target="_blank">http://www.google.com/apps/intl/en/terms/standard_terms.html</a>&nbsp;or
        such other URL as may be provided by Google.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Admin Account(s)</span>".&nbsp;&nbsp;means the administrative
        account(s) provided to Customer by Google for the purpose of administering the
        Services. The use of the Admin Account(s) requires a password, which Google will
        provide to Customer.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Admin Console</span>".&nbsp;&nbsp;means the online tool
        provided by Google to Customer for use in reporting and certain other administration
        functions.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Administrators</span>".&nbsp;&nbsp;mean the Customer-designated
        technical personnel who administer the Services to End Users on Customer's behalf.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Ads</span>".&nbsp;&nbsp;means online advertisements displayed
        by Google to End Users.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Affiliate</span>".&nbsp;&nbsp;means any entity that directly or
        indirectly controls, is controlled by, or is under common control with a party.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Brand Features</span>".&nbsp;&nbsp;means the trade names,
        trademarks, service marks, logos, domain names, and other distinctive brand features
        of each party, respectively, as secured by such party from time to time.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Confidential Information</span>".&nbsp;&nbsp;means information
        disclosed by a party to the other party under this Agreement that is marked as
        confidential or would normally be considered confidential under the circumstances.
        Customer Data is Customer's Confidential Information.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Customer Data</span>".&nbsp;&nbsp;means data, including email,
        provided, generated, transmitted or displayed via the Services by Customer or End
        Users.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Customer Domain Names</span>".&nbsp;&nbsp;mean the domain names
        owned or controlled by Customer, which will be used in connection with the Services.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Emergency Security Issue</span>".&nbsp;&nbsp;means either: (a)
        Customer's use of the Services in violation of the Acceptable Use Policy, which could
        disrupt: (i) the Services; (ii) other customers' use of the Services; or (iii) the
        Google network or servers used to provide the Services; or (b) unauthorized third
        party access to the Services.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">End Users</span>".&nbsp;&nbsp;means the individuals Customer
        permits to use the Services.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">End User Account</span>".&nbsp;&nbsp;means a Google-hosted
        account established by Customer through the Services for an End User.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">End User Terms</span>".&nbsp;&nbsp;means those terms located at
        the following URL:&nbsp;<a href=
          "http://www.google.com/apps/intl/en/terms/user_terms.html" target="_blank">http://www.google.com/apps/intl/en/terms/user_terms.html</a>,
        or such other URL as Google may provide.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Export Control Laws</span>".&nbsp;&nbsp;means all applicable
        export and reexport control laws and regulations, including the Export Administration
        Regulations ("EAR") maintained by the U.S. Department of Commerce, tradeand economic
        sanctions maintained by the Treasury Department's Office of Foreign Assets Control,
        and the International Traffic in Arms Regulations ("ITAR") maintained by the
        Department of State.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Help Center</span>".&nbsp;&nbsp;means the Google help center
        accessible at&nbsp;<a href=
          "http://www.google.com/support/a" target="_blank">http://www.google.com/support/a</a>, or other such
        URL as Google may provide.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">High Risk Activities</span>".&nbsp;&nbsp;means uses such as the
        operation of nuclear facilities, air traffic control, or life support systems, where
        the use or failure of the Services could lead to death, personal injury, or
        environmental damage.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">HIPAA</span>".&nbsp;&nbsp;means the Health Insurance
        Portability and Accountability Act of 1996, as may be amended from time to time, and
        any regulations issued thereunder.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Intellectual Property Rights</span>".&nbsp;&nbsp;means current
        and future worldwide rights under patent law, copyright law, trade secret law,
        trademark law, moral rights law, and other similar rights.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Non-Google Apps Products</span>".&nbsp;&nbsp;means Google
        products which are not part of the Services, but which may be accessed by End Users
        using their End User Account login and password. The Non-Google Apps Products are set
        forth at the following URL:<a href=
          "http://www.google.com/support/a/bin/answer.py?hl=en&amp;answer=181865" target="_blank">http://www.google.com/support/a/bin/answer.py?hl=en&amp;answer=181865</a>&nbsp;or
        such other URL as Google may provide.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Non-Google Apps Product Terms</span>".&nbsp;&nbsp;means the
        terms found at the following URL:&nbsp;<a href=
          "http://www.google.com/apps/intl/en/terms/additional_services.html" target="_blank">http://www.google.com/apps/intl/en/terms/additional_services.html</a>,
        or such other URL as Google may provide.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Notification Email Address</span>".&nbsp;&nbsp;means the email
        address designated by Customer to receive email notifications from Google. Customer
        may change this email address through the Admin Console.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">SDN List</span>".&nbsp;&nbsp;is the US Treasury Department's
        List of Specially Designated Nationals.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Service Pages</span>".&nbsp;&nbsp;mean the web pages displaying
        the Services to End Users.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Services</span>".&nbsp;&nbsp;means those services (e.g. Google
        Apps Premier Edition, Google Apps for Business or Google Apps (Free), etc.) which are
        more fully described here:&nbsp;<a href=
          "http://www.google.com/a/help/intl/en/users/user_features.html" target="_blank">http://www.google.com/a/help/intl/en/users/user_features.html</a>,
        or other such URL as Google may provide.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Suspend</span>".&nbsp;&nbsp;means the immediate disabling of
        access to the Services, or components of the Services, as applicable, to prevent
        further use of the Services.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Term</span>".&nbsp;&nbsp;means the term of the Agreement, which
        will begin on the Effective Date and continue until the earlier of: (i) the end of
        the last Services Term or (ii) the Agreement is terminated as set forth herein.
        </li>
      </ul>
      <ul>
        <li>"<span class="c1">Third Party Request</span>".&nbsp;&nbsp;means a request from a
        third party for records relating to an End User's use of the Services. Third Party
        Requests can be a lawful search warrant, court order, subpoena, other valid legal
        order, or written consent from the End User permitting the disclosure.
        </li>
      </ul>
    </div>
  </body>
</html>


</div>