@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

.t-blue {
    background: #1CA1F2 !important;
    color: white;
    font-weight: bold;
}

.white {
    color: white;
    font-weight: bold;
    border-radius: 3px;
}