@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";


.white {
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}

.space {
    visibility: hidden;
}
.name {
    margin:0;
}

#footer {
	background: transparent;
	color: #7d8384;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #a0a5a5;
}
#footer a:hover {
	color: #7bc3d1;
}

.footer-text {
    list-style-type: none;
   
}
.footer-text a {
    text-decoration: none;
}
 #article {
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    border-radius: 5px;
}


//       @media  
// Iphone X
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) 
{ .hide {
    visibility: hidden;
}}

// iPhone 6, 7, & 8
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
{ .hide {
    visibility: hidden;
}}

// iPhone 6, 7, & 8 Plus
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
{ .hide {
    visibility: hidden;
} }

// iPhone 5 & 5S 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
{ .hide {
    visibility: hidden;
}}