@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";


.white {
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}

.name .email {
    border: 2px solid black;
}
.bord-line {
    border: 2px solid black;
}

.space {
    visibility: hidden;
}

.name {
    margin-right: 10px;
}